
<!-- Body -->
<div class="row" style="background-color: #F7F8FC;">
    <!-- side bar area -->
    <div class="col-md-2">
        <app-sidenav></app-sidenav>
    </div>
    <!-- Main body -->
    <div class="col-md-10" style="background-color: #F7F8FC;height:100vh;">
        <!-- Header -->
        <app-dashboard-header></app-dashboard-header>
        <div>
            <h1 style="margin-left: 2%;">Account Details</h1>
        </div>
        <!-- form -->
        <form class="form-inline" action="/action_page.php"style="margin-left:2%; gap:2%; width:50rem; height:10rem;background-color: #FFFFFF;">
          <div class="btn-group" style="margin: 5%;">
            <div >
            <select class="btn btn-secondary dropdown-toggle" href="#" role="button"  aria-haspopup="true" aria-expanded="false" id="nairobi-estates" name="nairobi-estates">
                  <option value="Brookside">Brookside</option>
                  <option value="Buru buru">Buru buru</option>
                  <option value="Dagoretti">Dagoretti</option>
                  <option value="Dagoretti Corner">Dagoretti Corner</option>
                  <option value="Dandora">Dandora</option>
                  <option value="Dohnholm">Dohnholm</option>
                  <option value="Eastleigh">Eastleigh</option>
                  <option value="Embakasi">Embakasi</option>
                  <option value="Garden estate">Garden estate</option>
                  <option value="Gigiri">Gigiri</option>
                  <option value="Githurai">Githurai</option>
                  <option value="Grevillea grove">Grevillea grove</option>
                  <option value="Hamza">Hamza</option>
                  <option value="Hill view estate">Hill view estate</option>
                  <option value="Hurlingham">Hurlingham</option>
                  <option value="Huruma">Huruma</option>
                  <option value="Imara daima">Imara daima</option>
                  <option value="Jogoo Road">Jogoo Road</option>
                  <option value="Kabete">Kabete</option>
                  <option value="Karen">Karen</option>
                  <option value="Kasarani">Kasarani</option>
                  <option value="Kawangware">Kawangware</option>
                  <option value="Kayole">Kayole</option>
                  <option value="Kerara pon">Kerara pon</option>
                  <option value="Kiambu Road">Kiambu Road</option>
                  <option value="Kileleshwa">Kileleshwa</option>
                  <option value="Kilimani">Kilimani</option>
                  <option value="Kingara road">Kingara road</option>
                  <option value="Kinoo">Kinoo</option>
                  <option value="Kitengela">Kitengela</option>
                  <option value="Kitusuru">Kitusuru</option>
                  <option value="Komarock">Komarock</option>
                  <option value="Korogocho">Korogocho</option>
                  <option value="Kyuna">Kyuna</option>
                  <option value="Langata">Langata</option>
                  <option value="Kibera">Kibera</option>
                  <option value="Lavingtone">Lavingtone</option>
                  <option value="Limuru">Limuru</option>
                  <option value="Loresho">Loresho</option>
                  <option value="Lower Kabete">Lower Kabete</option>
                  <option value="Machakos">Machakos</option>
                  <option value="Mathare">Mathare</option>
                  <option value="Mlolongo">Mlolongo</option>
                  <option value="Mombasa road">Mombasa road</option>
                  <option value="Mountain view">Mountain view</option>
                  <option value="Muthaiga">Muthaiga</option>
                  <option value="Muthaiga north">Muthaiga north</option>
                  <option value="Nairobi west">Nairobi west</option>
                  <option value="Ngara">Ngara</option>
                  <option value="Ngong road">Ngong road</option>
                  <option value="Ngummo">Ngummo</option>
                  <option value="Nyari">Nyari</option>
                  <option value="Nyayo">Nyayo</option>
                  <option value="Old muthaiga">Old muthaiga</option>
                  <option value="Parklands">Parklands</option>
                  <option value="Peponi">Peponi</option>
                  <option value="Rhapta road">Rhapta road</option>
                  <option value="Riara">Riara</option>
                  <option value="Riara road">Riara road</option>
                  <option value="Ridgeways">Ridgeways</option>
                  <option value="Riruta">Riruta</option>
                  <option value="Riverside">Riverside</option>
                  <option value="RongaiTassia">RongaiTassia</option>
                  <option value="Rossyln">Rossyln</option>
                  <option value="Roysambu">Roysambu</option>
                  <option value="Ruai">Ruai</option>
                  <option value="Ruaka">Ruaka</option>
                  <option value="Ruiru">Ruiru</option>
                  <option value="Runda">Runda</option>
                  <option value="Satelitte">Satelitte</option>
                  <option value="Savannah">Savannah</option>
                  <option value="South B">South B</option>
                  <option value="South C">South C</option>
                  <option value="Syokimau">Syokimau</option>
                  <option value="Thigiri">Thigiri</option>
                  <option value="Thika road">Thika road</option>
                  <option value="Thome">Thome</option>
                  <option value="Umoja">Umoja</option>
                  <option value="Upper hill">Upper hill</option>
                  <option value="Utawala">Utawala</option>
                  <option value="Uthiru">Uthiru</option>
                  <option value=" Valley arcade"> Valley arcade</option>
                  <option value="Waiyaki Way">Waiyaki Way</option>
                  <option value="Westlands">Westlands</option>
                  <option value="Woodley">Woodley</option>
                  <option value=" Yaya Centre"> Yaya Centre</option>
                  <option value="Ngong">Ngong</option>
                  <option value="Kahawa Sukari">Kahawa Sukari</option>
                  <option value=" Kahawa West"> Kahawa Weste</option>
               </select>
            </div>
          </div>
          <label for="pwd"></label>
          <input type="password" id="pwd" placeholder="Enter password" name="pswd" style="margin-left: 1rem;">
          <button type="button" class="btn btn-primary" id="save" style="margin-left: 1rem; background-color:#5B77D9
          ;">Save</button>
        </form>
        <!-- card -->
          <div class="row">
            <div class="card-alerts" id="card-alerts" style="width: 40rem;background: #FFFFFF; margin-left: 3%;height: 20rem;">
                <ul class="list-group list-group-flush" style="line-height: 250%;">
                  <li class="list-group-item" style="font-weight: normal;"><span style="color:#5B77D9;font-weight:bold;">First Name:</span>Augustine</li><p></p>
                  <li class="list-group-item"style="font-weight: normal;"><span style="color:#5B77D9;font-weight:bold;">Last Name: </span>Kadima</li>
                  <li class="list-group-item"style="font-weight: normal;"><span style="color:#5B77D9;font-weight:bold;">Email:</span> augustine.kadima@moringaschool.com</li>
                  <li class="list-group-item"style="font-weight: normal;"><span style="color:#5B77D9;font-weight:bold;">Location:</span> Upper Savanna, Savannah Rd, East, Donholm, Nairobi</li>
                </ul>
              </div>
            <div class="card-alerts" id="card-alerts-img">
              <img src="../../assets/map2.jpg" alt="mapimage" style="height: 20rem;">
            </div>
</div>