/* Footer menu */
.text{
    font-size: 18px;
    color: #5B77D9;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer-menu{
    list-style: none;
    display: inline-flex;
    gap: 30px;
}

#copyright{
    margin-left: 70px;
}

.menu-container{
    display: inline-flex;
}

li{
    cursor: pointer;
}

li:hover{
    text-decoration: underline;
}