<div class="container-fluid header">
    <p id="add-alert">Dashboard</p>
    <div class="user">

      
        <p id="notifications">
          <button mat-raised-button color="primary" id="primary" class="btn">
            <mat-icon matBadge="15" id="icon">notifications</mat-icon>
          </button>
        </p>
      
      
      
        <!-- <img id="new" src="../../assets/new.png" alt="new"> -->
        <p id="username">Augustine Kadima</p>
        <img id="user-photo" src="../../assets/photo.png" alt="user photo">
    </div>
</div>