#alert{
    padding-right: 20px;
}

#alerts-section{
    margin-top: 30px;
    margin-right: 20px;
}

.card{
    border-radius: 8px;
}

.graph-container{
    padding-right: 40px;
    padding-left: 10px;
}

.cards-container{
    padding-right: 10px;
}

.form-control{
    margin-top: 2%;
    width: 20%;
    height: 200px;
}
.card{
    border-color: grayscale/divider;
    }
.card-body{
    gap: 2%;
}
.card-title1{
    /* font-family: Mulish; */
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #9FA2B4;
}
.card-text1{
    /* font-family: Mulish; */
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px
}
.card-title2{
    /* font-family: Mulish; */
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.5px;
}
.card-text2{
    /* font-family: Mulish; */
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px
}
.card-title3{
    /* font-family: Mulish; */
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #9FA2B4;
}
.card-text3{
    /* font-family: Mulish; */
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px
}
.card-alerts{
    height: 336px;
    right: 576px;
    top: 0px;
    border-radius: 1rem;
    width: 40rem;
    padding: 0px;
    margin-top: 2rem;
}
.card-title4{
    height: 24px;
    left: 32px;
    right: 178px;
    top: 32px;
    /* font-family: Mulish; */
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
}
.card-text4{
    /* font-family: Mulish; */
    margin-top:-10% ;
    margin-left: 80%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #5B77D9;
}
.personal{
    height: 16px;
    left: 32px;
    right: 178px;
    top: 64px;
    /* font-family: Mulish; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #9FA2B4;
}
.list-group-flush{
    /* font-family: Mulish; */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #252733;
}

.list-group-item{
    padding-top: 30px;
    padding-bottom: 30px;
}

.list{
    margin-top:-4% ;
    margin-left: 80%;
    color: #9FA2B4;
}
.Today{
    height: 16px;
    left: 32px;
    right: 178px;
    top: 64px;
    /* font-family: Mulish; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #9FA2B4;
}
.btn-warning{
    margin-top:-4% ;
    margin-left: 80%;
    font-size: 10px;
    color: #fff;
}
.btn-success{
    margin-top:-4% ;
    margin-left: 80%;
    font-size: 10px;
    color: #fff;
}
.btn1{
    margin-top:-4% ;
    margin-left: 80%;
    width: 20%;
    font-size: 10px;
    border: white;
}
#alert{
    margin-top: 30px;
}
#card{
    margin-top: 30px;
}
.Graph-details{
    border: solid #DFE0EB 3px;
    border-radius: 8px;
    margin-top: 30px;
    padding: 30px;
}

.left{
    border-right: #9FA2B4 solid 1px;
}

.zone p, .reports p, .response p, .response-time p{
    color: #9FA2B4;
    font-size: 18px;
    text-align: center;
}

#zone, #reports, #response, #response-time{
    font-weight: bold;
    font-size: 32px;
    color: black;
}

.zone, .reports, .response, .response-time{
    padding-top: 30px;
    margin-left: -12px;
}

.zone, .reports, .response, .response-time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: #9FA2B4 solid 1px;
}

.response-time{
    border: none;
}
.blackout , .last , .zones, .resolved{
    font-size: 30px;
    text-align: center;
}
.black , .Hr , .Affected , .lved{
    color: #9FA2B4;
    font-size: 18px;
    text-align: center;
}

.created-alerts{
    padding-top: 20px !important;
    padding-bottom: 50px !important;
}