.login-parent-container{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    position: relative;
}

#login-text{
    text-align: center;
    position: relative;
    font-size: 32px;
    bottom: 10px;
    right: 230px;
}

.login-container{
    border: solid #5B77D9 3px;
    width: 550px;
    border-radius: 20px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-bottom: 500px;
}

.btn-login{
    background-color: #5B77D9;
    color: white;
    font-weight: bold;
    font-size: 24px;
    height: 65px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#email, #password{
    margin-bottom: 30px;
    height: 55px;
}

form{
    padding: 30px;
}

input{
    border: none;
    border-bottom: solid 1px #5B77D9;
    border-radius: none !important;
}

#input{
    height: 65px;
    position: relative;
}

::placeholder{
    font-size: 18px;
    position: relative;
    left: 40px;
}

.form-group{
    position: relative;
}

#email-icon{
    position: relative;
    top: 50px;
    font-size: 36px;
}

#password{
    margin-bottom: 60px;
}

#member{
    position: relative;
    top: 30px;
}

#member p{
    font-size: 18px;
}

.member-parent{
    position: relative;
}

#location{
    /* margin-top: -20px; */
    height: 65px;
    border: none;
    border-bottom: #5B77D9 solid 1px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #6C7D9D;
}

#place{
    font-size: 36px;
    position: relative;
    top: 40px;
    
}

#select-location{
    position: relative;
}


