<app-landing-page-header></app-landing-page-header>

<!-- Hero section -->
<div class="container-fluid">
    <div class="row hero-section">
        <!-- Hero text -->
        <div class="col-md-7">
            <p id="heading">Let Us Know when the Lights are Back!</p>
            <p id="sub-heading">While you focus on what’s Important</p>
            <p id="hero-text">While you focus on what’s Important While you focus on what’s Important While you focus on what’s Important While you focus on what’s Important</p>
            <div class="container-custom">
                <div class="btn hero-login">Login</div>
                <div class="btn hero-sign-up">Signup</div>
            </div>
        </div>
        <!-- Hero image -->
        <div class="col-md-5">
            <img src="../../assets/Light-Illustration.png" alt="illustrattion">
        </div>
    </div>
</div>