<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
  crossorigin="anonymous"
/>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="sidebar">
  <div class="logo">
    <img src="../../assets/dashlogo.png" alt="logo">
    <h2>Black Alert</h2>
  </div>
  <ul class="menu">
    <!-- Overview -->
    <li>
      <a href="#">
        <div class="nav-links">
          <mat-icon>pie_chart</mat-icon>
          <p>Overview</p>
        </div>
      </a>
    </li>
    <li>

    <!-- Create an alert -->
    <li>
      <a href="#">
        <div class="nav-links">
          <mat-icon>add_alert</mat-icon>
          <p>Create an Alert</p>
        </div>
      </a>
    </li>
    <li>

    <!-- My alerts -->
    <li>
      <a href="#">
        <div class="nav-links">
          <mat-icon>notifications_active</mat-icon>
          <p>My Alerts</p>
        </div>
      </a>
    </li>
    <li>

    <!-- Divider -->
    <div id="edit-account"></div>

    <!-- Edit Account -->
    <li>
      <a href="#">
        <div class="nav-links">
          <mat-icon>settings</mat-icon>
          <p>Edit Account</p>
        </div>
      </a>
    </li>
    <li>

    <!-- Help -->
    <li>
      <a href="#">
        <div class="nav-links">
          <mat-icon>help</mat-icon>
          <p>Help</p>
        </div>
      </a>
    </li>

  </ul>
</div>

